<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-user fa-6x"></i>
    <h1 class="display-3">Welcome <%= user %> to your login page</h1>
    <hr>
    <p class="lead">These are your hobbies</p>

    <% usersHobbies.forEach(function(user){ %>
      <% for (i=0; i < user.hobbies.length; i++){ %>
      <p class="hobby-text lead"> <%= user.hobbies[i] %> </p>
    <% }}); %>

    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Hobby</a>
  </div>
</div>

<%- include('partials/footer') %>
